spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    show-sql: false

app:
  jwt:
    secret: ${JWT_SECRET}

  cors:
    allowed-origins: ${CORS_ORIGINS}

logging:
  level:
    com.ehrclinic: INFO
